.product{
    display:flex;
    border-bottom: 1px solid dimgray;
    padding:10px 30px;
}
.product div{
    padding:0px 30px;
}
.product-name{
    color: rgb(52, 105, 107);
}
.purchase-btn{
    background-color: orange;
    height:25px;
    width:120px;
    border-radius:5px;
    border:1px solid dimgray;
    cursor: pointer;

}
.icon-color{
    color:goldenrod;
}