.header{
    text-align: center;
}

.logo{
    
    height:100px;
}

.header nav{
    background-color: rgb(48, 47, 47);
    line-height:3rem;
}

.header nav a{
    text-decoration: none;
    margin: 0 3rem;
    padding: .8rem;
    color:orange;
    font-size:24px;
}
.header nav a:hover{
    background-color: ghostwhite;
}